@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  /* want to centre everything so thus flex */
  flex-direction: column;
  align-items: center;
  /*because it is set as a column, it'll make it a center of that column as opposed to if it was a row*/
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}